.homepage {
	position: relative;

	&__headline {
		font-size: 5em;
		text-align: center;
		color: $mainGrey;
		padding: .5em 0 0;
	}

	&__ampersand-snake {
		width: 150px;
		margin: 20px auto;
		display: block;
	}

	&__wiggling-snake {
		width: 45%;
		display: block;
		margin: auto;

	}
}